/* p,a{
    width:20%;
    margin:20px;
    padding:30px;
    border:2px solid black;
    display:inline;
}  */
/* 
p{
    padding:20px;
    background: #eee;
    font-family: arial;
    line-height: 1.4em;
} */

body{ 
    background: #eee;

}

.wrapper{
    background:#fff;
    max-width:960px;
    margin:0 auto;
    padding:20px;
}

.wrapper:after{
    content:"";
    display:block;
    clear:both;
} 

.services:after {
    content:"";
    display: block;
    clear:both;
}


.service h2, .service p{
    text-align: center;
    margin:10px 0;
}

.service {
    float:left;
    background:#eee;
    width:29.33%;
    margin:1%;
    padding:1%;
    height: 140px;
    position: relative;
}
.service:nth-child(1){
    top:5px;
}


.service:nth-child(2){
    top:15px;
}

.service:nth-child(3){
    top:25px;
}
.content{
    padding:10px;
    clear: both;
    margin-top:50px;
  ==
     
}

.content p{
    -webkit-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 50px;
    -webkit-column-rule:  1px solid #ccc;
    column-rule:  1px solid #ccc;
    text-align: justify;
}

.section, .aside{
float:left;
width:46%;
padding:1%;
margin:1%;
background:#f2f2f2;
}

.columns:after{
    display:block;
    content:"";
    clear:both;
}
#banner{
    max-height: 300px;
    overflow: hidden;
    margin:1%;
    position: relative;
}

#banner h2{
    position: absolute;
    top:30px;
    width:100%;
    text-align: center;
    color:#fff;
}

nav{
    background: #333;
    padding:5px;
    position:fixed;
    top:0;
    left:0;
    width:100%;
}
nav li{
    list-style-type: none;
    margin: 0 10px;
    color:#fff;
    float:left;
}

nav ul:after{
    content:"";
    display:block;
    clear:both;
}